body{
    font-family: sans-serif;
    background-color: white;
}

h1,h2{
    text-align: center;
}


img {
    width               : 100%;
}

li {
    display             : inline-block;
	padding             : 2px;
	width               : 33%;
	box-sizing          : border-box;
	flex-grow           : 1;
}

.msg{
    background-color: pink;
}